node_modules
node_modules/
*/node_modules/



.env
.env.local
.env.*.local
!.env.example

.idea
.vscode/


build/
*/build/
dist/
/dist

.prisma/client/

docker-compose.override.yml
docker-data
*/next.md
*/food.json
.prettierrc*