@use 'foundation' as *;

.spread
    display: flex
    justify-content: space-between

.btn
    border: 0px
    border-radius: $buttonRadius
    padding: 5px 12px
    font-weight: bold
    vertical-align: middle
    &:active
        transform: translateY(3px)  
        box-shadow: inset 5px 20px 40px rgba(0,0,0,0.2)

.btn-dark
    background: $topNavBackground
    color: $topNavColor
    &:hover
        background: $cartBackground
        color: $bodyBackground

.btn-light
    background: $topNavColor
    color: $topNavBackground
    &:hover
        background: $bodyBackground
        color: $cartBackground

.center
    text-align: center

.row
    display: flex

.cell
    display: inline-flex
